.btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 400;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 3rem;
      font-size: 1.6rem;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 0.8rem rgba($color-black, 0.2);
    }
    &:active {
      transform: translate(-1px);
      box-shadow: 0 0.5rem 0.3rem rgba($color-black, 0.2);
    }
    &--white {
      background-color: $color-white;
      color: $color-grey-dark;
    }
    &--animated {
      animation-name: moveInBottom;
      animation-duration: 1s;
      animation-delay: 0.5s;
      animation-fill-mode: backwards;
    }
  }
  